.form {
  z-index: 99;
  position: absolute;
  display: flex;
  bottom: 10vh;
  width: 100%;
  transform: translateY(100vh);
  transition: transform 0.3s cubic-bezier(0.31, -0.34, 0.48, 1.37);
  justify-content: center;
  background-color: #18181a;
}

.formTyping {
  transform: translateY(0);
}

.form input {
  appearance: none;
  outline: none;
  padding: 16px;
  border-radius: 48px;
  background-color: #18181a;
  border: none;
  width: 50%;
  color: #fff;
}
