.desktopOnly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #18181a;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  color: #fff;
}

.desktopOnly h1 {
  font-size: 3rem;
  margin: 0;
  width: 60%;
}

.desktopOnly p {
  margin: 0;
  width: 60%;
}

.desktopOnly small {
  width: 60%;
  margin-top: 1rem;
  font-weight: lighter;
}
