.desktopOnly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #18181a;
  color: #fff;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.desktopOnly h1 {
  font-size: 3rem;
  margin: 0;
  width: 60%;
  line-height: 1;
}

.desktopOnly p {
  margin: 0;
  width: 60%;
}

.desktopOnly small {
  width: 60%;
  margin-top: 1rem;
  font-weight: lighter;
}

.desktopOnly img {
  width: 60%;
  margin-bottom: 1rem;
}
