@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
  background-color: #18181a;
  background-image: url("/images/logo.png");
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
canvas {
  position: absolute;
  top: 0;
}

.labelBox {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #fff;
  margin-top: -50px;
}

.labelBox.show {
  opacity: 1;
}

.labelBox .label {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  box-sizing: content-box;
  padding: 16px;
  background-color: #18181a;
  border-radius: 48px;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.31, -0.34, 0.48, 1.37);
}
.labelBox.show .label {
  transform: scale(1);
}
