.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.orientations {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.orientations > div {
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
.orientations .north {
  top: 12px;
  left: calc(50% - 6px);
}
.orientations .east {
  right: 12px;
  top: calc(50% - 6px);
}
.orientations .south {
  bottom: 12px;
  left: calc(50% - 6px);
}
.orientations .west {
  left: 12px;
  top: calc(50% - 6px);
}
.wrapper {
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(24, 24, 26, 1);
  transform-origin: calc(100% - 20px) 20px;
  height: 250px;
  width: 250px;
  position: relative;
}

.wrapper > span {
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 3px);
  transition: transform 0.3s linear;
}

span.hostCar {
  background-color: #fff;
}
span.hostCar::before,
span.hostCar::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: -4px;
  top: -4px;
  border: 2px solid #fff;
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  transform-origin: center center;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 50%;
  animation: ringExpand 2s linear infinite;
  pointer-events: none;
}

span.hostCar::after {
  animation-delay: 1s;
}

@keyframes ringExpand {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  5% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
