.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ff0054;
  color: #ffbd00;
}

.container h1 {
  font-size: 60rem;
  line-height: 50rem;
  letter-spacing: -3rem;
  font-weight: 900;
}
